@import url(//fonts.googleapis.com/css?family=Lato:300:400);

html{
  margin: 0;
  height: 100%;
}

body {
    margin: 0px;
    background-color: #1F2739;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

nav{
    margin-top: 0px;
    padding: 24px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  #nav-1 {
    background: #323947;
  }
  
  
  .link-1 {
      font-weight: bold;
      transition: 0.3s ease;
      background: #323947;
      color: #ffffff;
      font-size: 20px;
      text-decoration: none;
      border-top: 4px solid #323947;
      border-bottom: 4px solid #323947;
      padding: 20px 0;
      margin: 0 20px;
      line-height: 2.5;
    }
    .link-1:hover {
      border-top: 4px solid #ffffff;
      border-bottom: 4px solid #ffffff;
      padding: 6px 0; 
    }
  


h1 {
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    letter-spacing: 2px;
    font-size:48px;
  }
p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #ffffff;
    font-weight: bold;
  }



.main {
    
    text-align:center;
    color:#1F2739;
    padding-top: 1em;
  }

.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

/*table*/



  .container th h1 {
        font-weight: bold;
        font-size: 1em;
    text-align: center;
    color: #ffffff;
  }
  
  .container td {
        word-break: break-all;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 1em;
        color: #aaa6ca;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
         -moz-box-shadow: 0 2px 2px -2px #0E1119;
              box-shadow: 0 2px 2px -2px #0E1119;
  }
  
  .container {
        text-align: center;
        overflow: hidden;
        width: 80%;
        margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
  }
  
  .container td, .container th {
        padding-bottom: 2%;
        padding-top: 2%;
    width: 10%;  
  }
  
  /* Background-color of the odd rows */
  .container tr:nth-child(odd) {
        background-color: #323C50;
  }
  
  /* Background-color of the even rows */
  .container tr:nth-child(even) {
        background-color: #2C3446;
  }
  
  .container th {
        background-color: #1F2739;
  }
  
  .container td:first-child { color: #aaa6ca; }
  
  
  @media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) { display: none; }
  }



  .waves {
    position:relative;
    width: 100%;
    height:5vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }

  .footer {
    bottom: 0;
    position: relative;
    display: flex;
    height: 65px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center
  }


  h1 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 2px;
    font-size:48px;
  
  }
  p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #333333;
  }




/*barra*/
.instant-search {
  position: relative;
  max-width: 250px;
}

.instant-search,
.instant-search__input {
  font-family: sans-serif;
}

.instant-search,
.instant-search * {
  transition: background 0.15s, box-shadow 0.15s;
}

.instant-search:focus-within {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.instant-search--loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background: #009578;
  border-radius: 5px;
  animation: searchIndicator 0.5s infinite ease-in-out;
}

@keyframes searchIndicator {
  0% {
    width: 15%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 15%;
  }
}

.instant-search,
.instant-search__input-container {
  border-radius: 5px;
}

.instant-search__input-container {
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  padding: 6px;
  background: #eeeeee;
}

.instant-search__input-container:focus-within {
  background: #ffffff;
}

.instant-search__input {
  flex-grow: 1;
  border: none;
  outline: none;
  width: 100%;
  padding: 0 6px;
  background: transparent;
}

.instant-search__results-container {
  max-height: 250px;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.1s;
}

.instant-search__results-container--visible {
  visibility: visible;
  opacity: 1;
}

.instant-search__result {
  display: block;
  color: #333333;
  text-decoration: none;
  padding: 10px;
  font-size: 0.8em;
  cursor: pointer;
}

.instant-search__result:hover {
  background: #eeeeee;
}

.instant-search__result:not(:last-of-type) {
  border-bottom: 1px solid #eeeeee;
}

.instant-search__title {
  font-size: 1.1em;
  font-weight: bold;
}

.instant-search__paragraph {
  line-height: 1.5;
  margin: 8px 0;
}


.div-navs{
  display: grid;
  Grid-template-columns: 1fr 1fr 1fr;
  }



  .formularios-actualizar{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background-color: #323C50 !important;
    font-size: 1em;
    border: 0px;
    outline: none;
    color: #aaa6ca;
    padding: 0;
    margin: 0;
    width: 90%;

    
  }




  h2{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    color: #ffffff;
  }

  .error{
    text-align: center;
    color: white;
  }

  button{
    background-color: transparent;
    border: 0px;
    margin-top: 2px;
  }


.a-agregar{
  padding-top: 3px;
  width: 50px;
}

#boton-agregar{
  color: white;
  margin: 0 auto;
  transform: scale(2.25);
}

.avatar{
  height: 50px;
  width: 50px;
  float: right;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}

.icon-stock-left{
  float: left;
  padding: 10px;
}

.a-footer-about{
  color:#92badd;
  text-decoration: none;
}