@import url(//fonts.googleapis.com/css?family=Lato:300:400);




html{
  margin: 0;
  height: 100%;
}

body {
    margin: 0px;
    background-color: #1F2739;
    display: flex;
    flex-direction: column;
    height: 100%;
  }


h1 {
  font-family: 'Lato', sans-serif;
  font-weight:bold;
  letter-spacing: 2px;
  font-size:48px;
  color: white;

}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
  font-weight: bold;
}

.header {
  position:relative;
  text-align:center;
  color:white;
}


.inner-header {
  height:75.5vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column !important; 
  justify-content: right !important;
}

.waves {
  position:relative;
  width: 100%;
  height:5vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}





nav{
  margin-top: 0px;
  padding: 24px;
  font-family: 'Lato', sans-serif;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
#nav-1 {
  background: #323947;
}


.link-1 {
  font-weight: bold;
  transition: 0.3s ease;
  background: #323947;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #323947;
  border-bottom: 4px solid #323947;
  padding: 10px 0;
  margin: 0 20px;
  line-height: 2.5;
}
.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}


.footer {
  bottom: 0;
  position: relative;
  display: flex;
  height: 65px;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center
}

.div-navs{
  position: relative;
  Display: grid;
  Grid-template-columns: 1fr 1fr 1fr;
  }


h2{
  font-family: 'Lato', sans-serif;
  font-weight:bold;
  letter-spacing: 2px;
  font-size:40px;
  color: white;
}


.div-borrar{
  text-align: center;
  height: 28em;
}



.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: white;
  color: black;
  transform: translateY(-7px);
}

.main-contenido{
  text-align: center;
  height: 100%;
}

.avatar{
  height: 50px;
  width: 50px;
  float: right;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}

.about-p{
  width: 50%;
  margin: auto;
  color: white !important;
  font-weight: bold;
}

.p-main-content-about{
  color: white !important;
  
}

.div-icons-about{
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.a-about{
  color: white;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.a-about:hover {
  transform: translateY(-7px);
}

.icon-stock-left{
  float: left;
  padding: 10px;
}

.icon-stock-right{
  float: right;
  padding: 10px;
}


.a-footer-about{
  text-decoration: none;
}

.div-p-about{
  text-align: left;
}