{% extends "application/base_negocios.html" %}

{% block titulo %}

  <title> Actualizar Producto </title>
  
{% endblock %}

{% block borrar %}

{% endblock borrar %}

{% block contenido2 %}

  {% block contenido %}

  <h2>Actualizando</h2> 
  <h2>{{producto}} - {{nombre_negocio}}</h2>
    {% if error %}
      <div class="error">
        <h2 class="h1-error">{{error}}</h2>
      </div>
    {% endif %}
    <div class="div-table">
      <form method="post"> {% csrf_token %}
        <table class="container">
          <thead>
            <tr>
              <th>
                <h1>PRODUCTO</h1>
              </th>
              <th>
                <h1>CANTIDAD</h1>
              </th>
              <th>
                <h1>REPONER</h1>
              </th>
              <th>
                <h1>PRECIO</h1>
              </th>
              <th>
                <h1>OBSERVACION</h1>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{form.nombre_producto}}</td>
              <td>{{form.cantidad}}</td>
              <td>{{form.reponer}}</td>
              <td>{{form.precio_individual}}</td>
              <td>{{form.observacion}}</td>
              <td class="td-button">
                <button type="submit" class="button-td" value="Actualizar">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-book-fill" viewBox="0 0 16 16">
                    <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

  {% endblock contenido %}

{% endblock contenido2 %}