{% extends 'application/actualizar.html' %}

{% block titulo %}<title> Agregar Producto </title>{% endblock %}
 

{% block contenido %}

<h2>{{titulo}}</h2>

{% if error %}
  <div class="error"><h2>{{error}}</h2></div>
{% endif %}

<div id="table" style=" flex: 1 0 auto;">
  <form method="post"> {% csrf_token %}
  <table class="container">
  <thead>
  <tr>
      <th><h1>PRODUCTO</h1></th>
      <th><h1>CANTIDAD</h1></th>
      <th><h1>REPONER</h1></th>
      <th><h1>PRECIO</h1></th>
      <th><h1>OBSERVACION</h1></th>

  </tr>
  </thead>
  <tbody>
  <tr>
      <td>{{form.nombre_producto}}</td>
      <td>{{form.cantidad}}</td>
      <td>{{form.reponer}}</td>
      <td>{{form.precio_individual}}</td>
      <td>{{form.observacion}}</td>
      <td style="width: 1%" ; ><button type="submit" style="color: white;" value="Actualizar">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16" >
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
        </svg>
      </button></td>
</tr>
</tbody>
</table>
</form>
</div>
</div>

{% endblock contenido %}