<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}{% endblock %} 
    <link rel="shortcut icon" href="{% static 'application/icon/card-checklist.svg' %}">
    <link href="{% static 'authentication/css/authenticationn.css' %}" rel="stylesheet">
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">

        {% block tabs %}

            <a href=""><h2 class="active"> Iniciar Sesion </h2></a>
            <a href=""><h2 class="inactive underlineHover"> Registrase </h2></a>

        {% endblock tabs %}
          
        {% block forms %}

        {% endblock forms %}

        {% block footer %}

          <div id="formFooter">
            <p>Stock Magnament<br><br> <a href="{% url 'about' %}" >About</a></p>
          </div>

        {% endblock footer %}

        </div>
    </div>
</body>
</html>