{% extends "authentication/profile.html" %}


{% block editar_data %}

  {% if error %}

    <h1 class="h1-error">{{error}}</h1>
    
  {% endif %}

  {% block titulo %}

  <title> Cambiar Contraseña </title>

  {% endblock %}
    
  <form method="post"> {% csrf_token %}
      <h3>NUEVA CONTRASEÑA:</h3>
      <p>{{form.password1}}</p>
      <h3>CONFIRMAR CONTRASEÑA:</h3>
      <p>{{form.password2}}</p>
      <input type="submit" class="fadeIn fourth input-profile" value="Editar"> 
  </form>

{% endblock editar_data %}