{% extends "authentication/profile.html" %}


{% block editar_data %}

{% if error %}
  <p style="color: red;">{{error}}</p>
{% endif %}

{% block titulo %}<title> Cambiar Contraseña </title>{% endblock %}
  
<form method="post"> {% csrf_token %}

    <h3>NUEVA CONTRASEÑA:</h3>
    <p>{{form.password1}}</p>
    <h3>CONFIRMAR CONTRASEÑA:</h3>
    <p>{{form.password2}}</p>
    <input type="submit" class="fadeIn fourth" value="Editar" style="margin: 10px;">
        
</form>

{% endblock editar_data %}