<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}<title> Perfil de Usuario </title>{% endblock %}  
    <link rel="shortcut icon" href="{% static 'application/icon/card-checklist.svg' %}">
    <link href="{% static 'authentication/css/authenticationn.css' %}" rel="stylesheet">
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <a href="{% url 'profile' %}">
                <h2 class="active"> Perfil </h2>
            </a>
            <a href="{% url 'messages' %}">
                <h2 class="inactive underlineHover"> Mensajeria </h2>
            </a>
            <a href="{% url 'home' %}">
                <h2 class="inactive underlineHover"> Inicio </h2>
            </a>

            {% block editar_data %}
          
                <div>
                    {% if flag %}
                        <img class="avatar" src="{{avatar}}">
                    {% else %}
                        <img class="avatar" src="{% static 'application/no-avatar/default-user-image.png' %}">
                    {% endif %}
                    <a href="{% url 'change_avatar' %}" class="boton-perfil"><input type="submit" class="fadeIn fourth input-profile" value="Cambiar avatar" ></a>
                    <a href="{% url 'delete_avatar' %}" class="boton-perfil"><input type="submit" class="fadeIn fourth" value="borrar avatar"></a>
                </div>
                    <h3>USERNAME:</h3>
                    <div class="div-p-data-profile">
                        <p class="p-data-profile">{{request.user.username.capitalize}}</p>
                    </div>
                    <h3>EMAIL:</h3>
                    <div class="div-p-data-profile">
                        <p class="p-data-profile">{{request.user.email}}</p>
                    </div>
                    <h3>NOMBRE:</h3>
                    <div class="div-p-data-profile">
                        <p class="p-data-profile">{{request.user.first_name.title}}</p>
                    </div>
                    <h3>APELLIDO:</h3>
                    <div class="div-p-data-profile">
                        <p class="p-data-profile">{{request.user.last_name.title}}</p>    
                    </div> 
                    <h3>SITIO WEB: </h3>
                    <div class="div-p-data-profile">   
                        <p class="p-data-profile"><a href="{{request.user.sitio_link}}">{{request.user.sitio_link}}</a></p>
                    </div>
                    <h3>DESCRIPCION:</h3>
                    <div class="div-p-data-profile">          
                        {{request.user.descripcion | safe}}  
                    </div>            
                    <a href="{% url 'edit_profile'  %}" class="boton-perfil"><input type="submit" class="fadeIn fourth input-profile" value="Editar datos" ></a>
                    <a href="{% url 'change_password' %}" class="boton-perfil"><input type="submit" class="fadeIn fourth" value="Cambiar contraseña"></a>
            
            {% endblock editar_data %}
            
            <div id="formFooter">
                <p>Stock Management<br><br> <a href="{% url 'about' %}" >About</a></p>
            </div>   
        </div>
    </div>
</body>
</html>