{% extends "authentication/base.html" %}

{% block titulo %}

    <title> Registrarse </title>
    
{% endblock %} 

{% block tabs %}

    <a href='{% url "login" %}'><h2 class="inactive underlineHover"> Iniciar Sesion </h2></a>
    <a href='{% url "signup" %}'><h2 class="active"> Registrarse </h2></a>

{% endblock tabs %}



{% block forms %}

    <form method="post"> 
        {% csrf_token %}
        {{form}}
        <input type="submit" class="fadeIn fourth" value="Registrase">
    </form>

{% endblock forms %}


{% block footer %}

    <div id="formFooter">
        <p>El nombre de usuario menor a 150 caracteres</p>
        <p>La contraseña no puede ser similar a tu informacion</p>
        <p>La contraseña debe contener mas de 8 caracteres</p>
        <p>La contraseña no debe ser comun</p>
        <p>La contraseña no puede ser enteramente numerica</p>
        <p>El nombre de usuario no puede ser igual a otro nombre de usuario</p>
    </div>
    
{% endblock footer %}